
body{
    background-color: #ebddd7!important;
    font-family: "Merriweather", serif !important;
}
.logo{
    width: 140px;
    height: auto;
    margin: auto 0;
    margin-left: 5%;
    /* object-fit: ; */
}
hr{
    width: 67%;
    font-size: large;
    color: black;
    border-top: solid 1px black !important;
    margin-top: 0 !important;
}
.workTime{
    color: #646464;
    font-size: 12pt;
}
.companyName{
    font-size: 16pt;
    color: #557e67;
    font-weight: 600;
}
.workExperience{
    display: flex;
    margin-top: 1%;
    align-items: center;

}
.workDetails{
    /* padding: auto; */
    /* margin-top: 1%; */
    align-items: center;
    margin-left: 2.5%;
    /* margin: auto 0; */

}
.workDescription{
    margin-left: -12px;
    font-size: 11pt;
    color: #162521;

}
.work{
    width: 65%;
    margin: auto;


}

.school{
    display: flex;
    margin: 1.5% auto;
    width: 65%;
}
.schoolName{
    font-size: 15pt;
    color: #557e67 !important;
    font-weight:600;
    /* text-decoration: underline; */
}
.degrees{
    font-size: 11.5pt;
    color: #646464;

}
.schoolDetails{
    /* margin: auto; */
    /* margin-left: 2.5%; */
    margin-left: 2.5%;

}
.schoolYears{
    font-size: 11pt;
    color: #646464;

    /* font-style: italic; */

}
.project{
    display: flex;
    margin: 1.5% auto;
    width: 65%;
}
.projectDetails{
    margin-left: 2.5%;
}
.projectName{
    font-size: 15pt;
    a{
        color: #557e67 !important;
    }
    font-weight: 600;
    /* text-decoration: underline; */
}
.projectDescription{
    font-size: 11.5pt;
}
.projectTech{
    font-size: 11pt;
    font-style: italic;
}
.namePic{
    display: flex;
    /* flex-wrap: wrap; */
    flex-direction: row;
    height: 200px;
    margin: auto;
    margin-top: 2%;
    max-width: 60%;
}
.name{
    display: flex;
    flex-direction: column;
    /* min-width: 10%; */
    width: auto;
    max-width: 80%;
    /* width: 100%; */
}
.portrait{
    width: 200px !important;
    height: auto;
    /* height: 40%; */
    /* height: 200px; */
    /* object-fit: cover !important;    object-fit: cover; */
    border-radius: 50%;
    /* border: 2px solid black; */
    /* overflow: hidden; */
    margin-right: 15px;
    /* display: block; */
}
.heading{
    width: 65%;
    margin: auto;
    font-size: 20pt;
    margin-bottom: -5px;
    font-weight: 900;
    color: #466653;
    margin-top: 3%
}
.MainName{
    font-size: 22pt;
    color: #466653;
    font-weight: 900;
    /* text-decoration: underline; */
}
.shorterDescription{
    font-size: 12pt;
    color: #162521 !important;
}
@media screen and (max-width: 1100px) {
    .namePic{
        flex-direction: column;
        height: auto;
        align-items: center;
        max-width: 90%;
    }
    .name{
        text-align: center;
    }
    .heading{
        width: 80%;
    }
    hr{
        width: 82%;
    }
    /* .workExperience{
        flex-direction: column;
        align-items: center;
    } */
    .work{
        width: 80%;
    }
    .education{
        width: 80%;
        margin: auto;
    }
    .school{
        width: 93%;
    }
    .projects{
        width: 80%;
        margin: auto;
    }
    .project{
        width: 93%;
    }
    .companyName{
        font-size: 14pt;
        margin-top: 10px;

    }
    .workTime{
        font-size: 11pt;
    }
    .workDescription{
        font-size: 10pt;
    }
    /* .school{
        flex-direction: column;
        align-items: center;
        margin-top: 20px;
    }
    .schoolName{
        margin-top: 10px;
        font-size: 14pt;
    }
    .schoolYears{
        font-size: 10pt;
    }
    .degrees{
        font-size: 11pt;
    }
    .schoolDetails{
        width: 100%;
    }
    .project{
        flex-direction: column;
        align-items: center;
    }
    .projectName{
        margin-top: 10px;

        font-size: 14pt;
    }
    .projectDescription{
        font-size: 11pt;
    }
    .projectTech{
        font-size: 10pt;
    } */

}
.skills{
    width: 65%;
    margin: auto;
}
.skill{
    margin-left: 2.5%;
}
@media screen and (max-width: 700px) {
    .work{
        width: 80%;
    }
    .education{
        width: 85%;
        margin: auto;
    }

    .projects{
        width: 85%;
        margin: auto;
    }
    .heading{
        width: 85%;
    }
    hr{
        width: 87%;
    }
    .name{
        max-width: 95%;
    }
    .shorterDescription{
        font-size: 10pt;
    }
    .portrait{
        width: 150px !important;
        height: 150px;
    }
    .workExperience{
        flex-direction: column;
        align-items: center;
    }
    .school{
        flex-direction: column;
        align-items: center;
        margin-top: 20px;
    }
    .schoolName{
        margin-top: 10px;
        font-size: 14pt;
    }
    .schoolYears{
        font-size: 10pt;
    }
    .degrees{
        font-size: 10.5pt;
    }
    .schoolDetails{
        width: 100%;
    }
    .project{
        flex-direction: column;
        align-items: center;
    }
    .projectName{
        margin-top: 10px;

        font-size: 14pt;
    }
    .projectDescription{
        font-size: 10.5pt;
    }
    .projectTech{
        font-size: 10pt;
    }
    .school{
        width: 100%;
    }
    .project{
        width: 100%;
    }

    .skills{
        width: 85%;
    }
    .skill{
        margin-left: 0;
        font-size: 11pt;
    }
    .logo{
        margin-left: 0;
        display: none;
    }
    .workDetails{
        margin-left: 0;
    }
    .workExperience{
        align-items: start;
    }
    .schoolDetails{
        margin-left: 0;
    }
    .projectDetails{
        margin-left: 0;
    }
    .work{
        width: 85%;
    }


}


#footer{
    background-color: #e3cfc6!important;
    text-align: center;
    color: #466653 !important;
    margin-top: 20px;
}
.contactIcon{
    height: 40px;
    color: #466653;
    margin: auto 8px;
    margin-top: 15px;
}
.fa-brands{
    color: #466653;
    font-size: 20pt;
    margin: 1% 10px;
}
.email{
    color: #466653;
    font-size: 20pt;
    margin: 1% 10px;
}
.documentIcon{
    color: #466653;
    font-size: 19pt;
    margin: 1% 10px;
}