.landingPage{
    height: 100vh;
    width: 100%;
    background-color: rgb(44, 44, 44);
    margin: 0%;
    display: flex;
    /* justify-content: center; */
    flex-direction: row;
}
.horizontalbar{
    height:4px;
    width: 140px;
    background-color: rgb(182, 117, 243);
    margin: auto;
    margin-bottom: 30px;
    margin-top: 5px;
}
body{
    margin: 0;
    background-color: rgb(182, 117, 243)!important;
        background-color: rgb(230, 230, 230)!important;

    font-family: Arial, Helvetica, sans-serif;
}
.centerLanding{
    width: 35%;
    margin: auto;
    text-align: left;
    padding-bottom: 2.5%;
    margin-left: 5%;
}
.centerPic{
    margin: auto;
    margin-right: 0;
    text-align: center;
    padding-bottom: 2.5%;
    /* padding-right: 30%; */
}
.landingText{
    font-size: 26pt;
    color: aliceblue;
    margin: auto;
    padding-bottom: 2.5%;
    margin-bottom: 0;
    
}
.myName{
    font-size: 50pt;
    /* color: rgb(255, 56, 56) ; */
    color: rgb(182, 117, 243);
}
.hiText{
    font-size: 25pt;
}
.softwareProjectv2{
    height: 365px;
    background-color: rgb(255, 255, 255);
    /* width: 30%; */
    width: 450px;
    display: flex;
    margin: 2.5% auto;
    border: 2px solid black;
    text-align: left;
    flex-direction: column;
    /* justify-content: flex-end; */
    -o-object-fit: cover;
     object-fit: cover;
     border-radius: 5%;
  overflow: hidden;
  /* margin-left: 15px;
  margin-right: 15px; */
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
    /* align-items: flex-end; */
}
.portfolioSection{
    /* width: 100%; */
    display: flex;
    /* height: 50vh; */
    max-width: 1000px;
    margin: 1.5% auto;
    margin-top: 0;
    flex-wrap: wrap;
    align-items: flex-end;
    /* background-color: rgb(0, 0, 46); */
    

}
.fade-in {
    -webkit-animation: fadein 1s both;
    animation: fadein 1s both;
}
.heading{
    width: 100%;
    text-align: center;
    margin-top: 20px;
    /* text-decoration: underline; */
    font-size: 40pt;
    margin-bottom: 0;
    line-height: 45pt;
}

#rps .coverDiv{
    position: absolute;
    height: 365px;
    width: 450px;
    background-color: white;
    opacity: 0%;
}

#rps .text {
    position:absolute;
    bottom:250px;
    /* left:0px; */
    width: 100%;
    font-size: 20pt;
    opacity: 0%;
    text-align: center;
}
    
#rps:hover .text {
    /* text-decoration: underline; */
    color: rgb(105, 11, 194);
    visibility:visible;
    opacity: 100%;
    transition:opacity .5s;
    transform: translateY(10px);
  -webkit-transform: translateY(100px);
  transition:transform .5s ;
}
#rps:hover .coverDiv {
    visibility:visible;
    opacity: 100%;
    transition:opacity .5s;
}
@-webkit-keyframes fadein{
    0%{
        opacity: 0;
        -webkit-transform: translateY(5px);
        transform: translateY(5px);
    }
    25%{
        opacity: 0;
        -webkit-transform: translateY(20px);
        transform: translateY(20px);
    }
    100%{
        opacity: 1;
        -webkit-transform: translateY(0px);
        transform: translateY(0px);
    }
}
@keyframes fadein{
    0%{
        opacity: 0;
        -webkit-transform: translateY(5px);
        transform: translateY(5px);
    }
    25%{
        opacity: 0;
        -webkit-transform: translateY(20px);
        transform: translateY(20px);
    }
    100%{
        opacity: 1;
        -webkit-transform: translateY(0px);
        transform: translateY(0px);
    }
}
.project-image{
    border-bottom: 2px solid black;
}



.softwareProject{
    height: 470px;
    background-color: rgb(255, 255, 255);
    /* width: 30%; */
    width: 370px;
    display: flex;
    margin: 2.5% auto;
    border: 2px solid black;
    text-align: left;
    flex-direction: column;
    /* justify-content: flex-end; */
    -o-object-fit: cover;
     object-fit: cover;
     border-radius: 5%;
  overflow: hidden;
  /* margin-left: 15px;
  margin-right: 15px; */
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
    /* align-items: flex-end; */
}
.education{
    align-items: center;
}
.navbar{
    background-color: rgb(43, 43, 43);
    color: white;
}

.projectTitle{
    font-size: 20pt;
    /* margin-top: 15px; */
    padding-left: 20px;
    color: rgb(0, 0, 0);
    /* line-height: 28pt; */
    /* height: 2 */
}
.projectLang{
    font-size: 12pt;
    padding-left: 20px;
    color: rgb(0, 0, 0);

}
.projectDescription{
    font-size: 14pt;
    padding-left: 20px;
    color: black;

    height: 65pt
}

.hexs {
    display: block;
    margin: 0 auto;
    position: relative;
    width: 420px;
    height: 363.72px; /* width * 0.866 */
    background: white;
    box-sizing: border-box;
    -webkit-clip-path: polygon(0% 50%, 25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%);
    -moz-clip-path: polygon(0% 50%, 25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%);
}
.hex-backgrounds {
    position: absolute;
    background-color: orange; /*color of the main-background*/
    top: 2px; /* equal to border thickness */
    left: 2px; /* equal to border thickness */
    width: 416px; /* container height - (border thickness * 2) */
    height: 359.72px; /* container height - (border thickness * 2) */
    -webkit-clip-path: polygon(0% 50%, 25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%);
    -moz-clip-path: polygon(0% 50%, 25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%);
}

.portrait{
    object-fit: cover;
    width: 440px;
    /* transform: scale(2); */
    height: 460px;
    border: 2px solid white;
}

#notes .coverDiv{
    position: absolute;
    height: 365px;
    width: 450px;
    background-color: white;
    opacity: 0%;
}

#notes .text {
    position:absolute;
    bottom:250px;
    /* left:0px; */
    width: 100%;
    font-size: 20pt;
    opacity: 0%;
    text-align: center;
}
    
#notes:hover .text {
    /* text-decoration: underline; */
    color: rgb(105, 11, 194);
    visibility:visible;
    opacity: 100%;
    transition:opacity .5s;
    transform: translateY(10px);
  -webkit-transform: translateY(100px);
  transition:transform .5s ;
}
#notes:hover .coverDiv {
    visibility:visible;
    opacity: 100%;
    transition:opacity .5s;
}

#movies .coverDiv{
    position: absolute;
    height: 365px;
    width: 450px;
    background-color: white;
    opacity: 0%;
}

#movies .text {
    position:absolute;
    bottom:250px;
    /* left:0px; */
    width: 100%;
    font-size: 20pt;
    opacity: 0%;
    text-align: center;
}
    
#movies:hover .text {
    /* text-decoration: underline; */
    color: rgb(105, 11, 194);
    visibility:visible;
    opacity: 100%;
    transition:opacity .5s;
    transform: translateY(10px);
  -webkit-transform: translateY(100px);
  transition:transform .5s ;
}
#movies:hover .coverDiv {
    visibility:visible;
    opacity: 100%;
    transition:opacity .5s;
}

#bounce .coverDiv{
    position: absolute;
    height: 365px;
    width: 450px;
    background-color: white;
    opacity: 0%;
}

#bounce .text {
    position:absolute;
    bottom:250px;
    /* left:0px; */
    width: 100%;
    font-size: 20pt;
    opacity: 0%;
    text-align: center;
}
    
#bounce:hover .text {
    /* text-decoration: underline; */
    color: rgb(105, 11, 194);
    visibility:visible;
    opacity: 100%;
    transition:opacity .5s;
    transform: translateY(10px);
  -webkit-transform: translateY(100px);
  transition:transform .5s ;
}
#bounce:hover .coverDiv {
    visibility:visible;
    opacity: 100%;
    transition:opacity .5s;
}