@media screen and (max-width:600px) {
    .centerLanding{
        /* width: 100%; */
        text-align: center;
        width: 100vw;
        margin: 0%;
        margin-top: 15%;
		height: fit-content;
    }
    
    .centerLanding .myName{
        font-size: 34pt;
    }
    .landingText{
        margin: 0 auto;
        width: 85%;
        font-size: 22pt;
    }
    .centerPic{
        justify-content: center;
        margin: auto 0;
        margin-top: 10%;
    }
    .portrait{
        width: 275px;
        height: 275px;
    }
    .landingPage{
        height: 100vh;
        width: 100vw;
        flex-direction: column-reverse;
    }
    .hiText{
        font-size: 20pt;
    }
    .rpsicon{
        margin-left: 5%;
        margin-right: 15% !important;
    }
    .softwareProjectv2{
        width: 90vw;
        height: 73vw !important;
    }
    .coverDiv{
        /* width: 100% !important;
        height: 100%!important; */
    }
    .projects-image{
        /* height: 73%; */
    }
    .text{
        bottom: 200px !important;
    }

} 
