@media screen and (max-width: 802px) {
    .individual{
        flex: 1 0 21%
    }
}
@media screen and (max-width:600px) {
    .centerLanding{
        /* width: 100%; */
        text-align: center;
        width: 100vw;
        margin: 0%;
        margin-top: 15%;
		height: fit-content;
    }
    
    .centerLanding .myName{
        font-size: 34pt;
    }
    .landingText{
        margin: 0 auto;
        width: 85%;
        font-size: 22pt;
    }
    .centerPic{
        justify-content: center;
        margin: auto 0;
        margin-top: 10%;
    }
    .portrait{
        width: 275px;
        height: 275px;
    }
    .landingPage{
        height: 100vh;
        width: 100vw;
        flex-direction: column-reverse;
    }
    .hiText{
        font-size: 20pt;
    }
    .rpsicon{
        margin-left: auto;
        margin-right: 6% !important;
        width: 22%;
    }
    .softwareProjectv2{
        width: 90vw;
        height: 73vw !important;
    }
    .coverDiv{
        /* width: 100% !important;
        height: 100%!important; */
    }
    .projects-image{
        /* height: 73%; */
    }
    .text{
        bottom: 250px !important;
    }
    .learnButton{
        top: 300px !important;
    }
    .horizontalbar{
        margin: auto;
        width: 80% !important;
    }
    #projectstitle{
        width: 50% !important;
        margin-left: 6%;
        margin-right: auto;
    }
    #educationtitle{
        width: 50% !important;
        margin-left: 6%;
        margin-right: auto;
    }
    #worktitle{
        width: 40% !important;
        margin-left: 6%;
        margin-right: auto;
    }
    .heading{
        flex-direction: row-reverse;
        margin-top: 5%;
    }
    .workicon{
        width: 18%;
        margin-left: auto;
        margin-right: 6%;
    }
    .skillsicon{
        width: 18%;
        margin-left: auto;
        margin-right: 6%;
    }
    .hobbyicon{
        width: 18%;
        margin-left: auto;
        margin-right: 6%;
    }
    .hobbysection{
        width: 92vw;
    }
    .workingcon{
        width: 100%;
    }
    .schoolicon{
        width: 20%;
        margin-right: 6%;
        margin-left: auto;
    }
    .skills{
        width: 90vw;
    }
    .individual{
        flex: 1 0 34%; /* explanation below */
    }

    .school{
        width: 98vw;
    }
    .graduationyear{
        font-size: 12pt;
    }
    .degreename{
        font-size: 12pt;
    }
    .schooldescription{
        font-size: 12pt;
    }
    .schoolname{
        font-size: 19pt;
    }
    .job{
        width: 98vw;
        margin-left: 1vw;
        padding-left: 10px;
    }
    .workplace{
        font-size: 19pt;
    }
    .worktime{
        font-size: 12pt;
    }
    .jobtitle{
        font-size: 12pt;
    }
    .jobDesc{
        font-size: 12pt;
    }

} 
