.workExp{
    align-items: center;
}

.job{
    width: 700px;
    margin: auto;
    text-align: left;
    /* padding-left: 15px; */
    margin-bottom: 15px;
}


.workplace{
    font-size: 23pt;
    color: #26A96C;

}

.worktime{
    font-size: 14pt;
    color: #61b48d;
}
.jobtitle{
    font-size: 14pt;
    /* color: rgb(139, 139, 139); */
    color: #7dd3ab;

}
.jobDesc{
    font-size: 13pt;
}
#worktitle{
    width: 30%
}